laptops {
	background-image: url("laptopy.jpg");
	background-repeat: no-repeat;
	background-color: white;
	background-attachment: fixed;
	background-size: 100%;
	backdrop-filter: blur(2px);
	font-family: Calibri;
	color: rgb(90,90,90);
}
heading {
	padding:15px; 
	width:75%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 10px;
	border:solid 1.5px;
	border-radius: 30px;
	display:block;
	text-align: center;
	box-shadow: dimgrey -10px 10px 7px;
}
title{
	font-size: 50px;
	margin-bottom: 5px;
}
description, lastDateCovered{
	 display: block;
	 font-size: 20px;
	 margin-bottom: 5px;
 }
lastDateCovered::before{
	content: "Last date covered: ";
}
list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 1%;
	margin-left: 1%;
}
laptop {
	width: 48%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: table-column;
	font-size: 18px;
	text-align: center;
	border:solid 2px;
	border-radius: 25px;
	box-shadow: dimgrey -10px 10px 10px;
}
laptop * {
	width: 100%;
	display: table;
	margin-bottom: 5px;
}
laptop::before {
	content: attr(producer_ref);
	font-size: 45px;
	font-weight: bold;
	width: 200%;
}
modelOfLaptop{
	 font-size: 30px;
	 width: 100%;
 }
processor::before{
	content: "Processor:";
	display:inline;
	margin-left: 20px;
	width:100%;
	font-size: 28px;
	margin-bottom: 15px;
}
processor {
	border-radius: 15px;
	margin-left: 12px;
	box-shadow: dimgrey -10px 10px 10px ;
	border:solid 1.5px;
	width: 97%;
	margin-bottom: 12px;
}

modelOfLaptop::before, model::before{
	content: "Model: ";
	display:inline;
	width:40%;
}
numberOfCore::before{
	content: "Number of cores: ";
	display:inline;
	width:40%;
}
baseFrequency > frequency::before{
	content: "Base requency: ";
	display:inline;
	width:40%;
}
frequency::after{
	 content: " " attr(clockingUnit);
	 display:inline;
	 width:40%;
 }
turboFrequency > frequency::before{
	content: "Turbo frequency: ";
	display:inline;
	width:40%;
}
cache > capacity::before{
	content: "Cache capacity: ";
	display:inline;
	width:40%;
}
capacity::before{
	content: "Capacity: ";
	display:inline;
	width:40%;
}
capacity::after{
	content: " " attr(capacityUnit);
	display:inline;
	width:40%;
}
RAMMemory::before {
	content: "RAM memory:";
	display:inline;
	min-width: 150px;
	max-width: 150px;
	font-size: 28px;
	margin-bottom: 15px;
}
RAMMemory{
	border-radius: 15px;
	margin-left: 12px;
	box-shadow: dimgrey -10px 10px 10px ;
	border:solid 1.5px;
	width: 97%;
	margin-bottom: 12px;
}
RAMMemory > frequency::before{
	content: "RAM frequency: ";
	display:inline;
	width:40%;
}
mode::before{
	content: "Mode: ";
	display:inline;
	width:40%;
}
drive::before{
	content: "Drive:";
	display:inline;
	width:40%;
	min-width: 150px;
	max-width: 150px;
	font-size: 28px;
	margin-bottom: 15px;
}
drive{
	border-radius: 15px;
	margin-left: 12px;
	box-shadow: dimgrey -10px 10px 10px ;
	border:solid 1.5px;
	width: 97%;
	margin-bottom: 12px;
}
graphicsCard{
	border-radius: 15px;
	margin-left: 12px;
	box-shadow: dimgrey -10px 10px 10px ;
	border:solid 1.5px;
	width: 97%;
	margin-bottom: 12px;
}
graphicsCard::before{
	content: "Graphics card:";
	display:inline;
	width:40%;
	min-width: 150px;
	max-width: 150px;
	font-size: 28px;
	margin-bottom: 15px;
}
graphicsCard::after, processor::after, RAMMemory::after, drive::after{
	content: "Producer: " attr(producer_ref);
	display:inline;
	width:40%;
}
screen::before{
	content: "Screen: ";
	display:inline;
	width:40%;
	min-width: 150px;
	max-width: 150px;
	font-size: 28px;
	margin-bottom: 15px;
}
screen{
	border-radius: 15px;
	margin-left: 12px;
	box-shadow: dimgrey -10px 10px 10px ;
	border:solid 1.5px;
	width: 97%;
	margin-bottom: 12px;
}
matrix::before{
	content: "Matrix: ";
	display:inline;
	width:40%;
}
diagonal::before {
	content: "Diagonal: ";
	display: inline;
	width: 40%;
}
diagonal::after{
	content: "''";
	display:inline;
	width:40%;
}
resolution::before{
	content: "Resolution: ";
	display:inline;
	width:40%;
}
laptop:hover[producer_ref=ASUS]{
	background: rgba(255, 25, 25, 0.15);
}
laptop:hover[producer_ref=Lenovo]{
	background: rgba(255, 189, 25, 0.15);
}
laptop:hover[producer_ref=Dell]{
	background: rgba(113, 255, 25, 0.15);
}
laptop:hover[producer_ref=HP]{
	background: rgba(25, 255, 155, 0.15);
}
laptop:hover[producer_ref=MSI]{
	background: rgba(25, 90, 255, 0.15);
}
laptop:hover[producer_ref=Apple]{
	background: rgba(247, 25, 255, 0.15);
}
laptop:hover[producer_ref=Microsoft]{
	background: rgba(221, 255, 43, 0.15);
}
laptop:hover[producer_ref=Acer]{
	background: rgba(255, 140, 25, 0.2);
}
laptop:hover[producer_ref=Huawei]{
	background: rgba(16, 110 ,0, 0.2);
}
laptop:hover[producer_ref=Samsung]{
	background: rgba(23, 75, 103, 0.2);
}
laptop:hover{
	transition: 0.3s;
}
drive:hover, processor:hover, RAMMemory:hover, screen:hover, graphicsCard:hover{
	background: rgba(165, 165, 152, 0.6);
	transform: scale(1.01, 1.01);
	transition: 0.15s;
	font-weight: bold;
}
producers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 40px;
	border-radius: 25px;
	border:solid 1.5px;
	font-size: 20px;
	box-shadow: dimgrey -10px 5px 5px;
	padding: 7px;
}
producer{
	border-radius: 15px;
	margin: 5px 5px 7px 5px;
	box-shadow: dimgrey -10px 10px 7px;
	border:solid 1.5px;
	width: 310px;
	text-align: center;
	padding: 10px;
}
producer:hover{
	transition: 0.3s;
	transform: scale(1.2, 1.2);
	background: rgba(165, 165, 152, 0.7);
}